web/node_modules
web/public/hot
web/public/storage
web/public/css
web/public/js
web/public/vendor/telescope
web/storage/*.key
web/vendor
web/.env
web/.env.backup
web/.phpunit.result.cache
web/Homestead.json
web/Homestead.yaml
web/npm-debug.log
web/yarn-error.log
web/.idea
web/.vscode
api/backend/excel
api/backend/json/summary_recaps.json
api/backend/json/dummy_summary_recaps.json
api/backend/python/random_data_dependency.py
api/image
api/.env
api/note.txt
