* {
  font-family: "Manrope", sans-serif;
}

#login .title {
  font-size: 44px;
  font-weight: 600;
}

#layout-menu {
  padding: 8px;
}
#layout-menu .title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 18px;
}
#layout-menu .menu-list {
  margin-top: 18px;
  margin-bottom: 18px;
}
#layout-menu .account .logout {
  margin-bottom: 8px;
}
#layout-menu .account .notice {
  font-size: 13px;
}

.sekretariat-cards .card {
  padding: 14px;
  margin-top: 18px;
  margin-bottom: 18px;
  box-shadow: none;
  border: 2px solid #7ffafa;
}

#overview-dashboard .title {
  font-size: 22px;
  font-weight: 700;
}
#overview-dashboard h1 {
  margin-bottom: 48px;
}
#overview-dashboard .rekapitulasi-fisik-dan-keuangan h2 {
  margin-top: 24px;
  margin-bottom: 24px;
}
#overview-dashboard .rekapitulasi-fisik-dan-keuangan .box {
  margin-top: 24px;
  margin-bottom: 24px;
}

table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
  cursor: pointer;
}
table.fold-table > tbody > tr.fold {
  display: none;
}
table.fold-table > tbody > tr.fold.open {
  display: table-row;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.sekretariat, .penta {
  padding-top: 24px;
  padding-bottom: 24px;
}
