* {
  font-family: "Manrope", sans-serif;
}

#login .title {
  font-size: 44px;
  font-weight: 600;
}

#layout-menu {
  padding: 8px;
}
#layout-menu .title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 18px;
}
#layout-menu .menu-list {
  margin-top: 18px;
  margin-bottom: 18px;
}
#layout-menu .account .logout {
  margin-bottom: 8px;
}
#layout-menu .account .notice {
  font-size: 13px;
}

.sekretariat-cards .card {
  padding: 14px;
  margin-top: 18px;
  margin-bottom: 18px;
  box-shadow: none;
  border: 2px solid #7ffafa;
}

#overview-dashboard .title {
  font-size: 22px;
  font-weight: 700;
}
#overview-dashboard h1 {
  margin-bottom: 48px;
}
#overview-dashboard .rekapitulasi-fisik-dan-keuangan h2 {
  margin-top: 24px;
  margin-bottom: 24px;
}
#overview-dashboard .rekapitulasi-fisik-dan-keuangan .box {
  margin-top: 24px;
  margin-bottom: 24px;
}

table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
  cursor: pointer;
}
table.fold-table > tbody > tr.fold {
  display: none;
}
table.fold-table > tbody > tr.fold.open {
  display: table-row;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.sekretariat, .penta {
  padding-top: 24px;
  padding-bottom: 24px;
}

.table-nested {
  padding: 14px;
}

.login {
  padding: 18px;
}
.login .logotype {
  font-size: 14px;
  font-weight: 500;
  color: #858585;
}
.login .greeting {
  font-size: 44px;
  font-weight: 750;
  color: #1a202c;
}
.login .form-container {
  max-width: 500px;
}
.login .form-container .tag {
  margin-top: 8px;
}

hr {
  width: 20%;
  height: 6px;
  background: #1a202c;
}

.call-to-action {
  display: inline-block;
  background: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  margin: 0.2rem;
}
.call-to-action-primary {
  position: relative;
  transition: 0.3s;
  background: #1a202c;
  box-shadow: 0 0 0.625rem 0.125rem rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 14px 30px;
  color: #ededee;
  font-weight: 450;
}
.call-to-action-primary:hover {
  background: #232c3c;
  color: #ededee;
}

.sekretariat .sekretariat-title {
  font-size: 34px;
  font-weight: 750;
  color: #1a202c;
}

.sekretariat-table .sekretariat-table-head .sub-kegiatan, .sekretariat-table .sekretariat-table-head .realisasi {
  text-align: center;
  vertical-align: middle;
}
.sekretariat-table .sekretariat-table-body .activity-name {
  font-size: 14px;
}
.sekretariat-table .sekretariat-table-fold-container {
  padding: 14px;
}
.sekretariat-table .sekretariat-table-fold-container .sekretariat-table-nested-head th {
  text-align: center;
  vertical-align: middle;
}
.sekretariat-table .sekretariat-table-fold-container .sekretariat-table-nested-body tr:nth-last-child(1), .sekretariat-table .sekretariat-table-fold-container .sekretariat-table-nested-body tr:nth-last-child(2), .sekretariat-table .sekretariat-table-fold-container .sekretariat-table-nested-body tr:nth-last-child(3), .sekretariat-table .sekretariat-table-fold-container .sekretariat-table-nested-body tr:nth-last-child(4) {
  display: none;
  visibility: hidden;
}
.sekretariat-table th {
  color: #1a202c;
}
.sekretariat-table td {
  color: #6c6c6c;
}

.logout {
  margin-bottom: 44px;
}
