* {
    font-family: 'Manrope', sans-serif;
}

#login {
    .title {
        font-size: 44px;
        font-weight: 600;
    }
}

#layout-menu {
    padding: 8px;

    .title {
        font-size: 22px;
        font-weight: 700;

        margin-bottom: 18px;
    }

    .menu-list {
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .account {
        .logout {
            margin-bottom: 8px;
        }
        .notice {
            font-size: 13px;
        }
    }
}

.sekretariat-cards {
    .card {
        padding: 14px;
        // background: #fffff1;
        margin-top: 18px;
        margin-bottom: 18px;
        box-shadow: none;
        border: 2px solid #7ffafa;
    }
}

#overview-dashboard {
    .title {
        font-size: 22px;
        font-weight: 700;
    }

    h1 {
        margin-bottom: 48px;
    }

    .rekapitulasi-fisik-dan-keuangan {
        h2 {
            margin-top: 24px;
            margin-bottom: 24px;

        }
        .box {
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }
}

// .pcs:after { content: " pcs"; }
// .cur:before { content: "$"; }
// .per:after { content: "%"; }
// --------------------------


table.fold-table {
  > tbody {
    > tr.view {
      td, th {cursor: pointer;}

    }
  
    > tr.fold {
      display: none;
      &.open { display:table-row; }
    }
  }
}



// fold content 
// .fold-content {
//   padding: .5em;
//   h3 { margin-top:0; }
//   > table {
//     border: 2px solid #ccc;
//     > tbody {
//       tr:nth-child(even) {
//         background: #eee;
//       }
//     }
//   }
// }

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.sekretariat, .penta {
    padding-top: 24px;
    padding-bottom: 24px;
}